<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../fragments/_layout}">
<head>
    <title>Success</title>
    <meta http-equiv="refresh" content="4; url = /"/>
</head>
<body>
<div layout:fragment="content">
    <sh-ui-center-wrapper class="fadeIn">
        <h1 th:text="${title}"></h1>
        <p class="mt-3" th:text="${text}"></p>
    </sh-ui-center-wrapper>
</div>
</body>
</html>