<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSS -->
    <th:block th:fragment="custom_css(file)">
        <link rel="stylesheet" th:href="${file.getValue()}"/>
    </th:block>
</head>
<body>

<!-- COMMON MODEL -->
<th:block th:if="${commonModel}" th:fragment="commonModelFragment">
    <div th:if="${commonModel.modal}" class="alert alert-dismissible w-50 mt-3 m-auto fade show"
         th:classappend="${commonModel.modal.type.cssClass}" role="alert">
        <strong th:text="${commonModel.modal.title}"></strong>
        <span th:text="${commonModel.modal.text}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</th:block>

<!-- JS -->
<th:block th:fragment="custom_js(file)">
    <script type="text/javascript" th:src="${file.getValue()}"></script>
</th:block>
</body>
</html>