<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
    minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{idp.css}"/>

    <!-- TODO -->
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>

    <th:block th:each="file: ${cssFiles}" layout:fragment="css">
        <th:block th:replace="~{../fragments/_includes :: custom_css (${file})}"></th:block>
    </th:block>

    <title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE">
        IDP
    </title>
</head>
<body>

<th:block th:replace="~{../fragments/_includes :: commonModelFragment}"></th:block>

<main layout:fragment="content"></main>

<!-- TODO -->
<script th:src="@{polyfills.js}" type="module"></script>
<script th:src="@{main.js}" type="module"></script>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<th:block th:each="file: ${jsFiles}">
    <th:block th:replace="~{../fragments/_includes :: custom_js (${file})}"></th:block>
</th:block>
</body>
</html>