body {}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
}