<div class="container mt-5">
  <h1 class="m-5" *ngIf="oauthService.getIdentityClaims()">
    Welcome user: {{ oauthService.getIdentityClaims()['sub'] }}
  </h1>

  <button (click)="login()" *ngIf="!oauthService.getIdToken(); else log">
    Login
  </button>

  <ng-template #log>
    <button (click)="logout()">Logout</button>
  </ng-template>
</div>
