.idp-center-wrapper {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .idp-center-wrapper {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .idp-center-wrapper {
    width: 75%;
  }
}
