<section class="sign-up-cn" *ngIf="form">
  <h1 class="sign-up-title">
    {{title}}
  </h1>

  <form class="sign-up-form" *ngIf="form" [formGroup]="form" [action]="actionUrl" method="post" ngNoForm #formSingIn>
    <!-- Email -->
    <div class="input-group has-validation">
      <div class="form-floating" [class.is-invalid]="form.get('email')?.hasError('email')">
        <input type="email" name="email" class="form-control" id="sign-up-email-input" placeholder="Email" required
               formControlName="email">
        <label for="sign-up-email-input">Email</label>
      </div>
      <span class="input-group-text">@</span>
      <div class="invalid-feedback text-end mt-2">
        Please provide a valid email address.
      </div>
    </div>
    <!-- Password -->
    <div class="input-group has-validation">
      <div class="form-floating"
           [class.is-invalid]="form.get('password')?.hasError('minlength') || form.get('password')?.hasError('maxlength')">
        <input type="password" name="password" class="form-control" id="sign-up-password-input" placeholder="Password"
               required
               formControlName="password">
        <label for="sign-up-password-input">Password</label>
      </div>
      <span class="input-group-text">******</span>
      <div class="invalid-feedback text-end mt-2">
        Please choose a valid password.
      </div>
    </div>
    <!-- Password -->
    <div class="input-group has-validation">
      <div class="form-floating"
           [class.is-invalid]="form.get('repeatedPassword')?.hasError('minlength') || form.get('repeatedPassword')?.hasError('maxlength')">
        <input type="password" name="repeatedPassword" class="form-control" id="sign-up-repeated-password-input"
               placeholder="Repeated Password"
               required
               formControlName="repeatedPassword">
        <label for="sign-up-repeated-password-input">Repeated Password</label>
      </div>
      <span class="input-group-text">******</span>
      <div class="invalid-feedback text-end mt-2">
        Please choose a valid password.
      </div>
    </div>
    <div class="w-100 text-end mt-5">
      <a class="btn btn-link text-info btn-lg text-decoration-none" [href]="signInUrl">
        {{signInBtnTxt}}
      </a>
      <button class="btn btn-primary btn-lg" type="submit" (click)="formSingIn.submit()" [disabled]="!(form.valid)
      || (form.get('password')?.value !== form.get('repeatedPassword')?.value)">
        {{signUpBtnTxt}}
      </button>
    </div>
    <div class="w-100 text-end mt-2">
      <a class="btn btn-link text-info btn-lg pe-0 text-decoration-none" [href]="restorePasswordUrl">
        {{restorePasswordBtnTxt}}
      </a>
    </div>
  </form>
</section>
