@use "../style";

.sign-up-cn {

  .sign-up-form {
    margin-top: style.$form-margin-top;

    .invalid-feedback {
      position: absolute;
      bottom: style.$form-invalid-text;
    }

    .input-group:nth-child(1n+2) {
      margin-top: 40px;
    }
  }
}
