<section class="rs-password-cn" *ngIf="form">
  <h1 class="sign-in-title">
    {{title}}
  </h1>

  <form class="rs-password-form" *ngIf="form" [formGroup]="form" [action]="actionUrl" method="post" ngNoForm #formSingIn>
    <!-- Email -->
    <div class="input-group has-validation">
      <div class="form-floating" [class.is-invalid]="form.get('email')?.hasError('email')">
        <input type="email" name="email" class="form-control" id="sign-in-email-input" placeholder="Email" required
               formControlName="email">
        <label for="sign-in-email-input">Email</label>
      </div>
      <span class="input-group-text">@</span>
      <div class="invalid-feedback text-end mt-2">
        Please provide a valid email address.
      </div>
    </div>
    <div class="w-100 text-end mt-5">
      <button class="btn btn-primary btn-lg" type="submit" (click)="formSingIn.submit()" [disabled]="!(form.valid)">
        {{restoreBtnTxt}}
      </button>
    </div>
    <div class="w-100 text-end mt-1">
      <a class="btn btn-link text-info btn-lg pe-0 text-decoration-none" [href]="signUpUrl">
        {{signUpBtnTxt}}
      </a>
      <a class="btn btn-link text-info btn-lg pe-0 text-decoration-none" [href]="signInUrl">
        {{signInBtnTxt}}
      </a>
    </div>
  </form>
</section>
