@use "../_style";
//@import "node_modules/bootstrap-icons/font/bootstrap-icons";

.sign-in-cn {

  .sign-in-title {

  }

  .sign-in-form {
    margin-top: style.$form-margin-top;

    .invalid-feedback {
      position: absolute;
      bottom: style.$form-invalid-text;
    }

    .input-group:nth-child(1n+2) {
      margin-top: 40px;
    }
  }

  .sign-in-oauth2 {
    display: flex;
    justify-content: flex-end;

    a {
      font-size: 1.8em;
    }
  }
}

