<section class="sign-in-cn" *ngIf="form">
  <h1 class="sign-in-title">
    {{title}}
  </h1>

  <form class="sign-in-form" *ngIf="form" [formGroup]="form" [action]="actionUrl" method="post" ngNoForm #formSingIn>
    <!-- Email -->
    <div class="input-group has-validation">
      <div class="form-floating" [class.is-invalid]="form.get('email')?.hasError('email')">
        <input type="email" name="email" class="form-control" id="sign-in-email-input" placeholder="Email" required
               formControlName="email">
        <label for="sign-in-email-input">Email</label>
      </div>
      <span class="input-group-text">@</span>
      <div class="invalid-feedback text-end mt-2">
        Please provide a valid email address.
      </div>
    </div>
    <!-- Password -->
    <div class="input-group has-validation">
      <div class="form-floating"
           [class.is-invalid]="form.get('password')?.hasError('minlength') || form.get('password')?.hasError('maxlength')">
        <input type="password" name="password" class="form-control" id="sign-in-password-input" placeholder="Password"
               required
               formControlName="password">
        <label for="sign-in-password-input">Password</label>
      </div>
      <span class="input-group-text">******</span>
      <div class="invalid-feedback text-end mt-2">
        Please choose a valid password.
      </div>
    </div>
    <div class="w-100 text-end mt-5">
      <a class="btn btn-link text-info btn-lg text-decoration-none" [href]="signUpUrl">
        {{signUpBtnTxt}}
      </a>
      <button class="btn btn-primary btn-lg" type="submit" (click)="formSingIn.submit()"
              [disabled]="!(form.valid)">
        {{signInBtnTxt}}
      </button>
    </div>
    <div class="w-100 text-end mt-2">
      <a class="btn btn-link text-info btn-lg pe-0 text-decoration-none" [href]="restorePasswordUrl">
        {{restorePasswordBtnTxt}}
      </a>
    </div>
  </form>
  <div class="sign-in-oauth2">
    <a class="btn btn-link text-decoration-none btn-group bg-white" *ngIf="googleOauth2Enabled" [href]="googleOauth2"
       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign in with google">
      <i class="bi bi-google" alt="Sign in with Google"></i>
    </a>
    <a class="btn btn-link text-decoration-none btn-group text-black bg-white" *ngIf="googleOauth2GithubEnabled" [href]="googleOauth2Github"
       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign in with github">
      <i class="bi bi-github" alt="Sign in with GitHub"></i>
    </a>
  </div>
</section>
