<section class="ch-password-cn" *ngIf="form">
  <h1 class="sign-in-title">
    {{title}}
  </h1>

  <form class="rs-password-form" *ngIf="form" [formGroup]="form" [action]="actionUrl" method="post" ngNoForm #formChangePassword>
    <!-- Code -->
    <input type="hidden" name="code" class="form-control" formControlName="code">
    <!-- Password -->
    <div class="input-group has-validation">
      <div class="form-floating"
           [class.is-invalid]="form.get('password')?.hasError('minlength') || form.get('password')?.hasError('maxlength')">
        <input type="password" name="password" class="form-control" id="sign-up-password-input" placeholder="New Password"
               required
               formControlName="password">
        <label for="sign-up-password-input">New Password</label>
      </div>
      <span class="input-group-text">******</span>
      <div class="invalid-feedback text-end mt-2">
        Please choose a valid password.
      </div>
    </div>

    <!-- Repeated Password -->
    <div class="input-group has-validation">
      <div class="form-floating"
           [class.is-invalid]="form.get('repeatedPassword')?.hasError('minlength') || form.get('repeatedPassword')?.hasError('maxlength')">
        <input type="password" name="repeatedPassword" class="form-control" id="sign-up-repeated-password-input"
               placeholder="New Repeated Password"
               required
               formControlName="repeatedPassword">
        <label for="sign-up-repeated-password-input">New Repeated Password</label>
      </div>
      <span class="input-group-text">******</span>
      <div class="invalid-feedback text-end mt-2">
        Please choose a valid password.
      </div>
    </div>
    <div class="w-100 text-end mt-5">
      <button class="btn btn-primary btn-lg" type="submit" (click)="formChangePassword.submit()" [disabled]="!(form.valid)
      || (form.get('password')?.value !== form.get('repeatedPassword')?.value)">
        {{changeBtnTxt}}
      </button>
    </div>
    <div class="w-100 text-end mt-1">
      <a class="btn btn-link text-info btn-lg pe-0 text-decoration-none" [href]="signUpUrl">
        {{signUpBtnTxt}}
      </a>
      <a class="btn btn-link text-info btn-lg pe-0 text-decoration-none" [href]="signInUrl">
        {{signInBtnTxt}}
      </a>
    </div>
  </form>
</section>
